<div class="row">

    <div class="strengths-list col-md-offset-1 col-md-2">
        <h2>Strengths</h2>
        <ul class="item-list">
            <li ng-repeat="strength in strengths">
                <a href="" ng-click="showStrengthDetail(strength)" >{{ strength.name }}</a>
            </li>
        </ul>
    </div>

    <div class="strength-detail col-md-offset-1 col-md-7">

        <ng-switch on="anyItemOpen()">

            <div ng-switch-when="true" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ chosenStrength.name }}</h3>
                </div>
                <div class="panel-body">
                    <p>{{ chosenStrength.description }}</p>
                    <ul>
                        <li ng-repeat="person in people">
                            <a href="#/people/{{ person.id }}">{{ person.name }}</a>
                        </li>
                    </ul>

                </div>
            </div>

        </ng-switch>

    </div>

</div>
